/* col = 0,83 */ 
/* @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap'); */
@font-face {
    font-family: Caveat;
    src: url("../fonts/Caveat-VariableFont_wght.ttf") format('woff2');
}
html, body{ height: fit-content; width: 100%; margin: 0px; padding: 0px;}
body{ 
    /* background: radial-gradient(rgb(63, 63, 63), grey, white); */
    background: #898989;
    /*    background-repeat: no-repeat;
    background-image: url('../img/bg-nevem.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}
p{ font-size: 16px; } 
h3{ font-size: 18px; }
h2{
    font-size: 20px;  
    width: fit-content;
    font-family: Caveat, sans-serif;
}
a{ 
    text-decoration: unset;
}
.bosford{
    width: auto;
}
.content-middle{
    display: flex;
    vertical-align: middle;
    justify-content: center;
}
main{
    margin: 10% 10%;
    width: 80%;
    height: 80%; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 10px #787676;
}
main section{
    padding: 8.3%;
    box-sizing: border-box;
}
main section h3{ 
    width: fit-content!important;
}
main section.sp{
    min-height: 90vh;  
}
.box-contact{ 
    width: 400px;
    height: 400px;
    padding: 15%!important; 
}
.shadow-font{
    text-shadow: 5px 4px 5px #4c3202;
}
.box-image{    
    padding-right: 13%;
    opacity: 0.4;
} 
section div.bg-3 div{
    z-index: 2;
}
section div.bg-3{
    overflow: hidden;
}
.img-bg{
    position: absolute;
    z-index: 1;
    opacity: .2;
    width: 100%;
    height: 100%;
    margin: -8.3%;
}
.div-yellow{ background: #eaa406bd; border-radius: 10px; padding: 4%; width: 45%; }
.box{ box-shadow: inset 0px 43px 30px -9px #969696;}
.img-t{ width: auto; box-shadow: #a5a5a5 -8px -8px 6px -1px;}
.bg-1{ background-color: rgb(180, 180, 180); }
.bg-2{ background-color: white }
.bg-3{ 
    /*   background-color:  rgb(200, 200, 200); background-image: url('../img/bg-thiago.png'); background-repeat: no-repeat; background-size: 100%;  background-position: right;*/
}
.bg-4{ background-color: rgb(250, 250, 250); position: relative; overflow: hidden;}
.bg-4 .up { z-index: 3;}
.box-img{ max-width: 200px; margin-bottom: 20px; }
#bg-fosco{  
    opacity: 0; 
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white; 
    /* transition: opacity 2s linear 2s; */
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.img-center img:hover{ transform: scale(1.5); z-index: 5; margin: 20px; }
.img-center img:hover ~ #bg-fosco{ z-index: 4; opacity: 0.5;} 
@media only screen and (max-width: 991px){ 
    .box-image {
        padding-right: initial!important; 
    }


    #sobre-projetos{
        display: block!important;
    }

    #sobre-projetos .div-yellow{
        width: 100%;
        margin-bottom: 20px;
    }
    #sobre-projetos .div-yellow .text-end{
        text-align: left!important;
    }
}
@media only screen and (max-width: 730px){ 
    #nav {
        display: none!important; 
    }
    .box-img img{
        width: 100%;
    }
}
@media only screen and (max-width: 660px){ 
    main{
        width: 100%;
        min-width: 480px!important;
        margin: 0px!important;
        border-radius: 0px;
    }
    #logomarcas .row.justify-content-md-center.justify-content-sm-center{ --bs-gutter-x: initial; }
    .box-image img{ max-width: 100%; }
    .img-center img{ width: 180px; padding: 5%; }
    .img-center img:hover{ transform: scale(1.3); margin: 10px;}
}